<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>EnyoBench</title>
		<link rel="shortcut icon" href="assets/favicon.ico"/>
		<!-- -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf8"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		
		<link rel="stylesheet" type="text/css" href="style/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="style/main.css"/>
		<script>
			var now = (function () {
				// we have to check whether or not the browser has supplied a valid
				// method to use
				var perf = window.performance || {};
				// test against all known vendor-specific implementations,
				// but use a fallback just in case
				perf.now = perf.now || perf.mozNow || perf.msNow || perf.oNow || perf.webkitNow ||
					function() { return Date.now(); };
				return function () {
					return perf.now();
				};
			}());
			var enyoBench = {
				timing: {}
			};
			enyoBench.timing.enyoLoadStart = now();
		</script>
		
		<script>
			enyoBench.timing.enyoLoadEnd = now();
			enyoBench.timing.appLoadStart = now();
		</script>
		
		{{stylesheets}}
		{{if href}}<link rel="stylesheet" href="{{href}}"/>{{else}}<style>{{contents}}</style>{{/if}}{{/stylesheets}}
		{{scripts}}<script{{if src}} src="{{src}}">{{else}}>{{contents}}{{/if}}</script>
		{{/scripts}}
		
		<script>
			enyoBench.timing.appLoadEnd = now();
		</script>
		
		
	</head>
	<body class="enyo-unselectable">
	</body>
</html>
