.dl-horizontal dt {
  width: 240px;
}
.dl-horizontal dd {
  margin-left: 260px;
}
/* enyoBench.PanelsTest */
.panelstest-panels {
	min-height: 320px;
	min-width: 320px;
}
.panelstest-panels div {
	border: 2px solid #333;
	font-size: 5em;
	text-align: center;
	line-height: normal;
}
