.main-view {
	background-color: #eee;
	padding: 30px;
}

.main-labeled-time-label {
	font-weight: bold;
}

.main-labeled-time-label::after {
	content: ": ";
	font-weight: bold;
}

.main-labeled-time-data::after {
	content: " ms";
}
